body{
    font-family: sans-serif;
    text-align: center;
    /* margin-left: 00px; */
    /* margin-right: auto; */
    background-color: #f0f0f0;
}
h2{
    color: #fc007f;
    text-shadow: 1px 1px 2px #000;
}
#timer{
    font-size: 24px;
    color: #333;
    /* margin-top: 0px; */
}
table.ta{
    margin: 10px auto;
    /* border-collapse: collapse; */
}
table.ta td{
    width: 40px;
    height: 40px;
    border: 2px solid #333;
    background-color: #fff;
    cursor: pointer;
    transition: transform 0.2s;
}
table.ta td:hover{
    transform: scale(1.1);
    background-color: #e0e0e0;
}

.cell img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}